.box {
    display: flex;
    flex-direction: column;
}

header {
    padding: 0 .28rem;
    background: #7BC678;
    height: .88rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

header span {
    flex: 1;
    font-size: .36rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

header img {
    width: .34rem;
    height: .3rem;
    position: absolute;
}

main {
    background: #F7F7F7;
    padding: 0 .28rem;
    flex: 1;
    overflow-y: scroll;
}

main .big,
main .big2 {
    padding: 0 .2rem;
    background: #fff;
    margin-top: .2rem;
    border-radius: .1rem;
    overflow: hidden;
}

main .big .top,
main .big2 .top {
    height: 0.68rem;
    margin-top: .22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .big .top>div,
main .big2 .top>div {
    display: flex;
    align-items: center;
}

main .big .top>div>div img,
main .big2 .top>div>div img {
    width: .6rem;
    height: 0.6rem;
    margin-top: .08rem;
}

main .big .top .con_right,
main .big2 .top .con_right {
    margin-left: .19rem;
}

main .big .top .taobao span,
main .big2 .top .taobao span {
    font-size: .28rem;
    font-weight: 400;
    color: #333333;
}

main .big .top .taobao b,
main .big2 .top .taobao b {
    width: .72rem;
    height: .38rem;
    margin-left: .05rem;
    background: #E8F7E8;
    border-radius: .08rem;
    display: inline-block;
    font-size: .24rem;
    font-weight: 400;
    color: #4DA24A;
    line-height: .38rem;
    text-align: center;
}

main .big .top .time,
main .big2 .top .time {
    font-size: .2rem;
    font-weight: 400;
    color: #999999;
    margin-top: .05rem;
}

main .big .top .time b:nth-child(2),
main .big2 .top .time b:nth-child(2) {
    margin-left: .12rem;
}

main .big .top>p.dl_concern,
main .big2 .top>p.dl_concern {
    width: 1.07rem;
    height: .48rem;
    border: 1px solid #FE9334;
    border-radius: .1rem;
    display: flex;
    align-items: center;
    padding: 0 .15rem;
    box-sizing: border-box;
}

main .big .top>p.dl_concern img,
main .big2 .top>p.dl_concern img {
    width: .22rem;
    height: .22rem;
}

main .big .top>p.dl_concern b,
main .big2 .top>p.dl_concern b {
    font-size: .24rem;
    font-weight: 400;
    color: #FE9334;
    margin-left: .05rem;
}

main .big .top>p.concern,
main .big2 .top>p.concern {
    width: 1.07rem;
    height: .48rem;
    background: #FE9334;
    border-radius: .1rem;
    text-align: center;
    line-height: .48rem;
}

main .big .top>p.concern b,
main .big2 .top>p.concern b {
    color: #fff;
    font-size: .24rem;
    font-weight: 400;
}

main .big .con,
main .big2 .con {
    padding: .28rem 0;
    font-size: .32rem;
    font-weight: 400;
    color: #111111;
    line-height: .48rem;
}

main .big .photo img,
main .big2 .photo img {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: .05rem;
    margin-bottom: .05rem;
    display: inline-block;
}

main .big .bottom,
main .big2 .bottom {
    margin-top: .28rem;
    height: .88rem;
    padding: 0 .32rem;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .big .bottom p,
main .big2 .bottom p {
    display: flex;
    align-items: center;
}

main .big .bottom p b,
main .big2 .bottom p b {
    margin-left: .1rem;
    font-size: .24rem;
    font-weight: 400;
    color: #666666;
    line-height: .48rem;
}