header {
    background: #7BC678;
}

header img.share {
    width: .3rem;
    height: .32rem;
    right: .28rem;
}

header span {
    color: #fff;
}

.head {
    padding: 0 .28rem;
    height: 1.56rem;
    background: #7BC678;
    display: flex;
    justify-content: center;
}

.renwu {
    margin-top: .3rem;
    width: 100%;
    height: 2.76rem;
    background: #fff;
    border-radius: .1rem;
    padding: 0 .2rem;
    box-sizing: border-box;
}

.renwu>p.top {
    display: flex;
    align-items: center;
    margin-top: .32rem;
}

.renwu>p.top span {
    margin-right: .18rem;
}

.renwu>p.top span:nth-child(1) {
    font-size: .28rem;
    font-weight: 400;
    color: #333333;
}

.renwu>p.top span:nth-child(2) {
    width: .6rem;
    height: .3rem;
    background: #F4F4F4;
    border-radius: .08rem;
    display: inline-block;
    font-size: .22rem;
    font-weight: 400;
    color: #999999;
    text-align: center;
    line-height: .3rem;
}

.renwu>p.top span:nth-child(3), .renwu>p.top span:nth-child(4) {
    display: inline-block;
    width: .42rem;
    height: .3rem;
    background: #E8F7E8;
    border-radius: .08rem;
    text-align: center;
    line-height: .3rem;
    font-size: .22rem;
    font-weight: 400;
    color: #6AB767;
}

.renwu p.middle {
    margin-top: .18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.renwu p.middle b:nth-child(1) {
    font-size: .26rem;
    font-weight: bold;
    color: #333333;
}

.renwu p.middle b:nth-child(2) {
    font-size: .36rem;
    font-weight: bold;
    color: #FE7648;
}

.renwu p.bom {
    margin-top: .13rem;
    margin-bottom: .13rem;
    display: flex;
    align-items: center;
}

.renwu p.bom img {
    width: .18rem;
    height: .21rem;
}

.renwu p.bom span {
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
    margin-left: .1rem;
}

.renwu .num {
    display: flex;
    align-items: center;
    height: .8rem;
    border-top: 1px solid #eee;
}

.renwu .num img {
    width: .26rem;
    height: .24rem;
}

.renwu .num span {
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
    margin-left: .1rem;
}

main {
    margin-top: 1.6rem;
    padding: 0 .28rem;
}

main .info {
    height: 1.45rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF;
    border-radius: .1rem;
}

main .info p {
    width: 1.74rem;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .info p:last-child {
    border-right: none;
}

main .info p span {
    font-size: .32rem;
    font-weight: 400;
    color: #333333;
}

main .info p b {
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
    margin-top: .1rem;
}