body {
    background: #fff;
}

.top {
    padding: 0 .28rem;
    height: .8rem;
    background: #F0F9EF;
    font-size: .32rem;
    font-weight: 400;
    line-height: .8rem;
    color: #5BAE57;
}

main {
    padding: 0 .28rem;
}

.join {
    margin-top: .1rem;
}

.join .join_in {
    padding: 0 .28rem;
    height: 1.78rem;
    background: #fff;
    border-radius: .1rem;
    overflow: hidden;
}

.join .join_in .progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem 0 .25rem 0;
    box-sizing: border-box;
}

.join .join_in .progress>div {
    position: relative;
    display: flex;
    align-items: center;
}

.join .join_in .progress>div p {
    margin-left: .25rem;
    font-size: .28rem;
    font-weight: 400;
    color: #333333;
}

.join .join_in .progress>div img.tx {
    width: .52rem;
    height: .52rem;
}

.join .join_in .progress>div img.vip {
    position: absolute;
    width: .41rem;
    height: .21rem;
    bottom: 0;
    left: .25rem;
}

.join .join_in .progress>p {
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
}

.join .join_in .new {
    display: flex;
    justify-content: space-between;
}

.join .join_in .new p:nth-child(1) {
    font-size: .32rem;
    color: #333333;
    font-weight: 400;
}

.bg {
    width: 100%;
    height: .1rem;
    background: #F7F7F7;
}

main .detail>div {
    display: flex;
    align-items: center;
    margin: .3rem 0 .28rem 0;
}

main .detail>div img {
    width: .42rem;
    height: .42rem;
}

main .detail>div>b {
    font-size: .32rem;
    font-weight: bold;
    color: #999999;
    margin-left: .18rem;
}

main .detail>p {
    font-size: .28rem;
    font-weight: 400;
    color: #222222;
}

main .detail>img {
    width: 3.3rem;
    height: 4.95rem;
    margin-top: .27rem;
}