main {
    padding: 0 .28rem;
}

main>div {
    padding: 0 .2rem;
    background: #fff;
    border-radius: .1rem;
    margin-top: .2rem;
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

main>div>img {
    width: .26rem;
    height: .29rem;
}

main .way {
    display: flex;
    align-items: center;
}

main .way>div p {
    margin-left: .23rem;
}

main .way>div p:nth-child(1) {
    font-size: .32rem;
    font-weight: 400;
    color: #333333;
}

main .way>div p:nth-child(2) {
    font-size: .24rem;
    font-weight: 400;
    color: #999999;
    margin-top: .1rem;
}

main .way>img {
    width: .84rem;
    height: .84rem;
}

.add {
    height: .9rem;
    background: #61C65D;
    border-radius: .1rem;
    font-size: .36rem;
    font-weight: bold;
    color: #FFFFFF;
}