body {
    background: #fff;
}

.bg {
    height: .1rem;
    background: #F7F7F7;
}

main {
    padding: 0 .28rem;
}

main ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.09rem;
    border-bottom: 1px solid #eee;
}

main ul li p {
    font-size: .32rem;
    font-weight: 400;
    color: #222222;
}

main ul li span {
    font-size: .24rem;
    font-weight: 400;
    color: #9A9A9A;
}